{% extends 'layout.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <h5 class="card-title">{{ chat.getCar().getCarNumber() }}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Вы можете отправить сообщение для владельца автомобиля</p>
            <div class="list-group">
                <a href="{{ path('web_message', {'id': chat.id}) }}?text=Машина мешает"
                   class="list-group-item list-group-item-action">Машина мешает</a>
                <a href="{{ path('web_message', {'id': chat.id}) }}?text=Вы были неаккуратны на дороге!"
                   class="list-group-item list-group-item-action">Вы были неаккуратны на дороге!</a>
                <a href="{{ path('web_message', {'id': chat.id}) }}?text=Стал свидетелем ДТП"
                   class="list-group-item list-group-item-action">Стал свидетелем ДТП</a>
                <a id="btn-send-phone" href="#" class="list-group-item list-group-item-action" onclick="show()">Отправить
                    контакты</a>
                {% if chat.messages.count > 0 %}
                    <a href="{{ path('web_chat_show', {'id': chat.id}) }}"
                       class="list-group-item list-group-item-action">Вернуться к переписке</a>
                {% endif %}
            </div>
            <div id="div-phone" style="display: none">
                <label for="phone">Номер телефона</label>
                <input class="form-control" placeholder="+79042412177" name="phone" id="phone" type="text">
                <a id="a-send" href="#">
                    <button class="btn btn-primary" onclick="sendPhone()" id="phone-btn">Отправить контакты</button>
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function show() {
            var elem = document.getElementById("div-phone");
            var display = elem.style = null;
        }

        function sendPhone() {
            var elem = document.getElementById("phone").value;

            var message = "Давайте познакомимся, мой номер телефона" + elem;
            console.log(message);

            var href = "{{ path('web_message', {'id': chat.id}) }}" + "?text=" + message;

            document.getElementById("a-send").href = href;


        }
    </script>
{% endblock %}
