{% extends 'layout.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <h5 class="card-title">{{ chat.car.carNumber }}</h5>
        </div>
        <div class="card-body text-center">

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Сообщение</th>
                </tr>
                </thead>
                <tbody>
                {% for message in chat.messages %}
                    <tr>
                        {% if message.user.id == user.id %}
                            <th scope="row">{{ message.createdAt |date("m.d.Y") }} </th>
                        {% else %}
                            <th scope="row">{{ message.createdAt |date("H:i m.d") }}</th>
                        {% endif %}
                        <td>{{ message.text }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="input-message" placeholder="Какой нибудь текст">
            </div>
            <a id="send-message" href="#">
                <button type="submit" class="btn btn-primary mb-2" onclick="sendMessage()">Отправить сообщение</button>
            </a>
        </div>
    </div>
    <script type="text/javascript">


        function sendMessage() {
            var message = document.getElementById("input-message").value;

            console.log(message);

            var href = "{{ path('web_message', {'id': chat.id}) }}" + "?text=" + message;

            document.getElementById("send-message").href = href;
        }
    </script>


{% endblock %}

